*.pt
runs/*
scripts/*.mp4
scripts/*.pt
./*.py
video_data/*/*/*.png
video_data/*/*/*.txt
video_data/*/*.mp4
datasets/*
ByteTrack
catkin_ws/src/detect_pkg/src/detrack/YOLO26_TensorRT_ONNX
captures
catkin_ws/build
catkin_ws/devel
catkin_ws/src/detect_pkg/scripts/track*.mp4
catkin_ws/src/detect_pkg/scripts/track1/*.png
catkin_ws/src/detect_pkg/scripts/track2/*.png
*.onnx
*.engine
*.mp4